   body{

     background-color: rgb(150, 95, 202);

   }

    header{
     display: flex;
     background-color: rgb(176, 116, 211);
     justify-content: space-between;
     padding: 20px;
    }

.cabecalho_menuitem{

    display: inline;
    text-transform: uppercase;
    margin-left: 20px;
}

.cabecalho_imagem{ 
    width: 200px;
    height: 200px;
    border-radius: 50%;
}